* {
    font-family: monospace;
    font-size: 12px;
}

header {
    background-color: #333333;
    padding: 5px 0;
}

ul.nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 5px;
}

ul.nav a:hover {
    color: #fcc43f;
}

.form-control {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
}

.form-control label {
    flex-basis: 20%;
}

.form-control input {
    flex-basis: 80%;
    width: 100%;
}

.form-control textarea {
    flex-basis: 80%;
    width: 100%;
}

.form-control select {
    flex-basis: 80%;
    padding: 4px;
    width: 100%;
}

.btn-block {
    width: 100%;
    padding: 5px;
}

body {
    max-width: 800px;
    margin: auto;
    background-color: #111111;
    color: #ffffff;
}

.content {
    margin: 0 10px;
}

table {
    margin-top: 20px;
    width: 100%;
}

.joblist table {
    width: 100%;
}

th.name {
    text-align: left;
    margin-right: 10px;
}

td.name {
    text-align: left;
    margin-right: 10px;
}

td.name a {
    text-decoration: none;
    color: white;
}

td.download-now a {
    text-decoration: none;
    color: #00bcd4;
}

table,
th,
td {
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 2px;
}

td.num,
td.status,
td.aksi {
    text-align: center;
}

.delete-confirm {
    margin-top: 50px;
    text-align: center;
}

table.jobdetails {
    margin-top: 20px;
    width: 100%;
}

.warning {
    color: peru;
}

.danger {
    color: orangered;
}

.success {
    color: green;
}

.aksi a {
    text-decoration: none;
    color: white;
}

a.to-wp {
    color: #21759b;
}

a.to-blogger {
    color: #fc4f08;
}

a.to-wp {
    color: #21759b;
}


/* datatable*/

#job-list_wrapper {
    margin-top: 30px;
}

.dataTables_length {
    float: left
}

.dataTables_filter {
    float: right;
    text-align: right;
}

.dataTables_info {
    text-align: center;
    margin-top: 10px;
    float: left;
}

#job-list_paginate {
    margin-top: 10px;
    float: right;
}

#job-list_paginate a {
    margin-right: 10px;
}